extends layout

block content

  .wrapper
    .pure-g.step
      .pure-u-1-12
        h1 1.
      .pure-u-11-12
        h2 Pick a shield
        img.shield(src='https://img.shields.io/badge/usability_measures-taken-FF41A2.svg')
        img.shield(src='https://img.shields.io/badge/usability_aspects-considered-FF41A2.svg')
        img.shield(src='https://img.shields.io/badge/UX-approved-FF41A2.svg')
        img.shield(src='https://img.shields.io/badge/user_value-good-FF41A2.svg')
        img.shield(src='https://img.shields.io/badge/user_testing-done-FF41A2.svg')

    .pure-g.step
      .pure-u-1-12
        h1 2.
      .pure-u-11-12
        h2 Write a bit about what measures you have taken in order to ensure a good user experience (no pressure, you can change this later)
        //- Replace the "..." or write whatever suits your project
        textarea()

    .pure-g.step
      .pure-u-1-12
        h1 3.
      .pure-u-11-12
        h2
          button.download Download the document
            span.mega-octicon.octicon-cloud-download
          | and place it in the root of your repo

    .pure-g.step
      .pure-u-1-12
        h1 4.
      .pure-u-11-12
        h2 Paste in the URL to your GitHub repo
        form.pure-form
          input.repo(type="text")
          span.mega-octicon.octicon-check

    .pure-g.step
      .pure-u-1-12
        h1 5.
      .pure-u-11-12
        h2 Place this in your <code>README.md</code>

        pre#readme.
          [![UX status][ux-image]][ux-url]

          [ux-image]: https://img.shields.io/badge/usability_measures-taken-FF41A2.svg
          [ux-url]: http://l:3000/repo/[GITHUBUSER/REPO]

        button.copy(data-clipboard-target="#readme") Copy to clipboard
          span.mega-octicon.octicon-clippy

    .pure-g.step
      .pure-u-1-12
        h1 6.
      .pure-u-11-12
        h2 Your are all set! Remember to update your <code>ux.md</code> as your project evolves.


block scripts
  script.
    var simplemde = new SimpleMDE();
    simplemde.value(!{JSON.stringify(template)});
