extends layout

block content

  .wrapper
    .pure-g.step
      .pure-u-1-12
        h1 1.
      .pure-u-11-12
        h2 Describe what measures you have taken in order to ensure a good user experience. Replace the "..." or write whatever suits your project

        textarea()

    .pure-g.step
      .pure-u-1-12
        h1 2.
      .pure-u-11-12
        h2
          button.download Download the document
          | and place it in the root of your repo

    .pure-g.step
      .pure-u-1-12
        h1 3.
      .pure-u-11-12
        h2 Pick a shield
        img.shield(src='/shield/usability_measures-taken-FF41A2.svg')
        img.shield(src='/shield/usability_aspects-considered-FF41A2.svg')
        img.shield(src='/shield/UX-approved-FF41A2.svg')
        img.shield(src='/shield/user_value-good-FF41A2.svg')
        img.shield(src='/shield/user_testing-done-FF41A2.svg')

    .pure-g.step
      .pure-u-1-12
        h1 4.
      .pure-u-11-12
        h2 Paste the URL to the GitHub repo
        input(type="text")

    .pure-g.step
      .pure-u-1-12
        h1 5.
      .pure-u-11-12
        h2 Place this in your <code>README.md</code>

        pre.
          [![UX status][ux-image]][ux-url]

          [ux-image]: http://l:3000/shield/usability_aspects-considered-FF41A2.sv
          [ux-url]: http://l:3000/repo/simon-johansson/Quizif





block scripts
  script.
    var simplemde = new SimpleMDE();
    simplemde.value(!{JSON.stringify(template)});
