include ./mixins.jade

extends layout

block content

  include ./includes/doorbell.jade

  +header

  .wrapper
    #creation-steps

    .pure-g
      .pure-u-1-12
      .pure-u-11-12
        .sharing
          +hearts

          h2 <span class="thank-you">Thank you!</span> For striving to make useful and usable software. Please help spread the cause:

          +githubStarButton
          +tweetButton

