
header
  a(href="/")
    img(src='https://img.shields.io/badge/usability-shield-FF41A2.svg')

  i When usability measures have been taken

  span.mega-octicon.octicon-mark-github

  //- iframe.github-share-button(
  //-   src="https://ghbtns.com/github-btn.html?user=simon-johansson&repo=usability-shield&type=star&count=true&size=large"
  //-   frameborder="0"
  //-   scrolling="0"
  //-   width="140px"
  //-   height="30px")
