extends layout

block content
  include ./includes/doorbell.jade

  a.github-link(href="https://github.com/simon-johansson/usability-shield")
    span.mega-octicon.octicon-mark-github

  .flexbox-center
    .splash-container

      img.splash-shield(src='https://img.shields.io/badge/usability-shield-FF41A2.svg')

      h3.big When usability measures have been taken

      a(href='/create')
        button.create-shield Create a usability shield

