extends layout

block content
  .wrapper
    h1 Usability shield
    img(src='/shield.svg')
    h2 Because user value and usability trumps dependency versions and code coverage

    a(href='/create')
      button Create a usability shield
