extends layout

block content
  //- a.octocat-icon.octocat-md.octocat-shy-t.octocat-tr(href="#")
  span.mega-octicon.octicon-mark-github
  //- include ./header.jade

  .wrapper
    .splash-container
      //- h1 Usability shield
      img.big-shield(src='https://img.shields.io/badge/usability-shield-FF41A2.svg')
      //- h2 Because dependency versions and code coverage are irrelevant without good usability and well thought out user value

      //- h3 Are you performing measures in order to achieve good usability in your software? </br> Then let it be known!

      h3.big When usability measures have been taken

      //- h3 When usability measures have been taken. </br> Are you performing measures in order to achieve good usability in your software? </br> Then let it be known!

      //- Are you producing useful software that is easy to use and learn?

      //- ease of use and good learnability is not easy.

      //- Show off that you care about your users!

      //- usefulness

      //- Achieving a good User Experience (UX) is not easy

      //- So if you have performed measures


      //- img.big-shield(src='https://img.shields.io/badge/usability_measures-taken-FF41A2.svg')


      a(href='/create')
        button.create-shield Create a usability shield

  include ./footer.jade

