doctype html
html
  head
    title= title
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href="http://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
  body
    block content

    script(src='http://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src='/javascripts/vendor/FileSaver.js')
    script(src='/javascripts/vendor/jquery/dist/jquery.js')
    script(src='/javascripts/index.js')
    != LRScript
    block scripts
