doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet' href='/stylesheets/github-markdown.css')
    link(rel='stylesheet' href='/stylesheets/foghorn.css')
  body
    block content
