doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/javascripts/vendor/pure/pure-min.css')
    link(rel='stylesheet' href="/javascripts/vendor/simplemde/dist/simplemde.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content

    //- footer

    script(src='/javascripts/vendor/simplemde/dist/simplemde.min.js')
    script(src='/javascripts/vendor/FileSaver/FileSaver.js')
    script(src='/javascripts/vendor/jquery/dist/jquery.js')
    script(src='/javascripts/vendor/clipboard/dist/clipboard.js')
    script(src='/javascripts/vendor/react/react.js')
    script(src='/javascripts/vendor/react/react-dom.js')
    script(src='/js/bundle.js')
    != LRScript
    block scripts
