
* {
  outline: none
}

html,
body {
  padding: 1em;
  margin: auto;
  background: @smokey-white;
}

html:not(iframe) {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body:not(iframe) {
  margin: 0 0 70px;
}

.wrapper {
  max-width: 900px;
  min-width: 600px;
  margin: 140px auto 80px;

  h2 {
    margin-top: 0;
  }

  .step {
    margin-top: 80px;

    h1 {
      color: #DCDCDC;
    }
  }
}

pre,
code {
  background: @light-purple;
  border: 1px solid @border-color-secondary;
  padding: 5px;
}

header,
nav,
article,
footer {
  width: 700px;
  margin: 0 auto;
}

article {
  margin-top: 4em;
  margin-bottom: 4em;
  min-height: 400px;
}

video {
  margin: 2em 0;
  border: 1px solid #ddd;
}

nav {
  font-size: .9em;
  font-style: italic;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}

nav p {
  margin: 0;
}

body#index li {
  margin-bottom: 1em;
}

@media only screen and (max-device-width: 1024px) {
  body {
    font-size: 120%;
    line-height: 1.4;
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    text-align: left;
  }

  article,
  footer {
    width: auto;
  }

  article {
    padding: 0 10px;
  }
}
