
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic&subset=latin);

@import 'octicons';
@import 'octocat';
@import 'hearts';
@import 'foghorn-markdown-styling';

@border-color: rgba(0,0,0,0.3);

* {
  outline: none
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Vollkorn", Palatino, Times;
  line-height: 1.4;
}

.splash-container {
  text-align: center;
  margin-top: 200px;

  .big-shield {
    width: 200px;
  }

  h3 {
    color: #999;
    font-style: italic;
    font-size: 20px;
    width: 350px;
    display: block;
    margin: auto;
  }

  button {
    margin-top: 50px;
  }
}

pre,
code {
  background: rgb(250, 250, 250);
  border: 1px solid #eee;
  padding: 5px;
}

button {
  cursor: pointer;
  background: white;
  border: 1px solid @border-color;
  border-radius: 5px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.8);
  font-size: 24px;
  padding: 5px 8px;
  transition: color 0.2s;

  &:active {
    box-shadow: none;
  }

  &:hover {
    color: rgb(255, 95, 177) !important;
  }

  &.create-shield {
    font-size: 25px;
    // color: #8750d6;
    color: #333;
    padding: 5px 12px;
    // background: #333;
    // padding: 5px 8px;
    // margin-right: 10px;
  }

  &.download {
    // font-size: 24px;
    // padding: 5px 8px;
    margin-right: 10px;
  }

  &.copy {
    margin-top: 10px;
  }

  span.mega-octicon {
    margin-left: 8px;
    font-size: 25px;
  }
}

textarea {
  resize: none;
  width: 100%;
  border-color: @border-color;
  border-radius: 3px;
  padding: 5px;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.wrapper {
  max-width: 900px;
  min-width: 600px;
  margin: 0 auto;

  h2 {
    margin-top: 0;
  }

  .step {
    margin-top: 80px;

    h1 {
      color: #DCDCDC;
    }
  }
}

h1 {
  font-size: 70px;
  line-height: 0px;
}

.shield {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s;

  &.selected {
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.8);
    transform: scale(1.05);
  }
}

pre#readme {
  padding: 10px;
  background: rgb(250, 250, 250);
  border: 1px solid #eee;
}

form {
  position: relative;

  input {
    border-radius: 4px;
    border: 1px solid #bbb;
    padding: 5px 5px 5px 10px;
    width: 100%;
    font-size: 20px;
  }

  .mega-octicon {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    margin-left: -40px;
    vertical-align: middle;
    color: #23C35D;
  }
}

.increased-lineheight {
  line-height: 50px;
  margin-bottom: 0;
}

.small-text {
  font-size: 18px;
}

footer {
  border-top: 1px solid #ececec;
  background: #fbf9ff;
  text-align: center;
  height: 145px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.octocat-icon {
  color: black;
}

.thank-you {
  margin-top: 30px;
  position: relative;

  span {
    color: rgb(255, 95, 177);
    font-size: 30px;
  }

  .twitter-share-button {
    margin-left: 10px;
  }
}

