
// Colors
@primary-color: rgb(255, 95, 177);

@border-color-primary: rgba(0,0,0,0.3);
@border-color-secondary: #eee;

@primary-font-color: #333;

@dark-gray: #333;
@light-purple: #fbf9ff;
@smokey-white: #fefefe;
@green: #23C35D;

// Fonts
@default-font: "Vollkorn", Palatino, Times;
@code-font: "Consolas", "Menlo", "Monaco", monospace, serif;
